%hidden-nav-border {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

%visible-nav-border {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav {
  // height: 65px;

  .navbar-brand {
    font-size: 1.125rem;
    position: relative;
    top: -12px;

    &:hover {
      color: $dark-color;
    }
  }

  .nav-item {
    font-size: 1.125rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    text-decoration: none;
    color: #fff;

    &:before {
      @extend %hidden-nav-border;
    }

    &:hover {
      &:before {
        @extend %visible-nav-border;
      }
    }
  }

  .twitter-btn {
    background-color: transparent;
    border: none;
    color: #fff;
  }
}

