body {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'Muli', 'Open Sans', sans-serif;
  position: relative;
  color: #000;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.body {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
}

.spinner {
  padding-top: 30px;
  text-align: center;
}

